.container {
  position: sticky;
  top: 40px;
  overflow-y: auto;
  /* Add vertical scroll bar */
  max-height: calc(100vh - 100px);
  /* Set maximum height to viewport height minus header/footer height */
}

/* Transparent scrollbar */
 .container::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  /* Color of the scrollbar thumb */
  border-radius: 4px;
  /* Rounded corners for the thumb */
}

.container::-webkit-scrollbar-track {
  background-color: transparent;
  /* Transparent background for the scrollbar track */
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.userImage {
  border-radius: 50%;
  object-fit: cover;
}

.userDetail {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 500;
  color: #fff;
}

.userTitle {
  font-size: 12px;
  color: var(--textSoft);
}

.list {
  list-style: none;
  font-size: 14px;
}

.cat {
  color: var(--textSoft);
  font-weight: bold;
  font-size: 13px;
  margin: 10px 0px;
}

.logout {
  padding: 20px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;
  background: none;
  border: none;
  color: white;
  width: 100%;
}

.logout:hover {
  background-color: #2e374a;
}

/* Add styles for the dropdown submenu */
/* Submenu container */
.submenu {
  display: none;
  /* position: absolute; */
  background-color: #ffffff; /* Background color */
  min-width: 200px; /* Adjust width as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
  z-index: 1;
  border-radius: 4px; /* Rounded corners */
}

/* Submenu items */
.submenu li {
  padding: 10px 20px; /* Padding */
  text-decoration: none;
  color: #333;
  display: block;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for submenu items */
.submenu li:hover {
  background-color: #f1f1f1; /* Background color on hover */
}

/* Show submenu when hovering over parent item */
li:hover .submenu {
  display: block;
}

