.container {
    background-color: #727e06;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    width: 100%;
    color: #fff;
  }
  .container2 {
    background-color: #2fe7e7;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    width: 100%;
    color: #fff;
  }
  .container3 {
    background-color: #303096;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    width: 100%;
    color: #fff;
  }
  .container4 {
    background-color: #02530d;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    width: 100%;
    color: #fff;
  }
  .container:hover{
    background-color: #2e374a;
  }
  .container2:hover{
    background-color: #2e374a;
  }
  .container3:hover{
    background-color: #2e374a;
  }
  .container4:hover{
    background-color: #2e374a;
  }
  
  .texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .number {
    font-size: 24px;
    font-weight: 500;
  }
  
  .detail {
    font-size: 14px;
    font-weight: 300;
  }
  
  .positive {
    color: lime;
  }
  
  .negative {
    color: red;
  }